
#ranked-container th:hover {
    color:white;
}
#sortMode {
    color:white;
}
.activeSort {
    color: white;
}
.dungeonName {
    font-weight: 300; font-size: 13px;
    color: #7F8289;
}
a.subDungeonName {
    font-size: 16px;
    text-decoration: none;
}
.expand {
    width: 99%;
}
.shrink {
    white-space:nowrap
}
#exp_div {
    padding-right:0;
    border-right: 2px solid #2F3238;
    text-align: center;

    width: 50%; padding-left:0; float: left; position: relative;

}
#stam_div {
    padding-left:0;
    border-left: 2px solid #2F3238;
    text-align: center;

    width: 50%; float: left; position: relative;
}
#u_exp {
    width:80px; height: 45px;
    text-align: center
}
#u_stam {
    width:50px; height: 45px;
    text-align: center
}
.width640 {
    width: 640px;
}
.prompt-row input{
    padding: 8px 0;

    margin-top: 2px;
    margin-bottom: 2px;

    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: #26292E;
    color: #FFFFFF;
    font-size: 16px;

    resize: none;
}
.prompt-input {
    background-color: #26292E;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(127, 130, 137, 0.5);
    height: 50px;
    /*  thanks to /u/tr4656  */
    color: #b4b6ba;
}
body {
    padding: 0; margin: 0; height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
.article {
    margin: 0 auto;
    padding-bottom: 100px;
}
.footer {
    width:100%;
    text-align: center;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
    clear: both;
}

#navigation-mobile a{
    color: white;
}
#navigation-mobile a:hover{
    color: #DE5E60;
}
#navigation-mobile ul {
    padding: 0;
    margin-bottom: 0;
}
.container {
    padding-left: 0; padding-right: 0;
}
.row {
    margin-left: 0; margin-right: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0; padding-right: 0;
}
.no-padding {
    padding: 0;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.prompt-input.active {
    border-color: white;
}
.prompt-input:hover {
    border-color: white;
}
.prompt-input.error {
    border-color: red;
}
.clear {
    clear: both;
}
#find-button {
    width: 100%;

    background: #DE5E60;
    color: #FFF;

    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 40px;
    text-align: center;
    vertical-align: middle;

    margin-top: 15px;

    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

    -webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}
.spec {
    border-bottom:1px dashed #7F8289;
}
th {
    font-weight: normal;
    color: #7F8289;
}
td {
    font-weight: 600;
}
h4 {
    margin-bottom: 10px;
}
.alert-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.label {
    display: inline-block;
    font-size: 11px;
    margin-left: 5px;
}
.alert-heading {
    margin-bottom: 0;
    line-height: normal;
}
#dismiss {
    width: 100px; text-transform: none;
    margin: 15px auto 0; display: block;
    background-color: #7BAEB9; color:#fff;
}
#dismiss:hover {
    background-color: white; color: #7BAEB9;
}
#dismiss2 {
    width: 100px; text-transform: none;
    margin: 15px auto 0; display: block;
    background-color: #e2b68d; color:#fff;
}
#dismiss2:hover {
    background-color: white; color: #e2b68d;
}
.option .accordion-inner {
    padding: 0;
}

.option .accordion-inner table {
    color: white;
    font-weight: 300;
}
.option .accordion-toggle {
    background-color: #5A9AA8;
    cursor: default;
    padding: 8px 15px;
}



.table>thead>tr>th {
    border-bottom: 0;
    padding-right:0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-width: 0;
}
.table {
    margin: 0;
}
.table th {
    white-space: nowrap;
}
.table td {
    font-size: 14px;
}
.nobreak {
    white-space: nowrap;
}

.accordion {
    margin-bottom: 10px;
}
.accordion-heading .accordion-toggle p {
    margin-left: 10px;
}
#toggleArea .accordion-heading .accordion-toggle {
    padding: 3px 15px;
    /*background: rgba(31, 127, 92, 0.4);*/
    background: #285046;
    color:#FFFFFF;
    font-weight: 300;
    font-size: 16px;
}
#toggleArea .accordion-heading .accordion-toggle.partial {
    /*background: rgba(31, 127, 92, 0.2);*/
    background: #2B403E;
}
#toggleArea .accordion-heading .accordion-toggle span{
    font-size: 16px;
}
.sub-dungeon.locked {
    text-decoration: line-through;
    color: #7F8289;
}
.unlocked {
    text-decoration: inherit;
    color: inherit;
}
.sub-dungeon {
    cursor: pointer;
}
.tier {
    text-align: center;
    background-color: #26292E;
    margin-bottom: 4px;
}
#toggleArea .dungeon.locked {
    background: #3C3F45;
}


input[type=checkbox].checkbox1, input[type=checkbox].checkbox2 {
    position: absolute;
    left: -9999px;
}
input[type=checkbox].checkbox1 + label.c-label {
    color: #7F8289;
    height:20px; width: 20px;
    display:inline-block;
    line-height:20px;
    font-size:20px;
    vertical-align:middle;
    cursor:pointer;
    margin: 0 10px 0 0;
}
input[type=checkbox].checkbox2 + label.c-label {
    color: #7F8289;
    height:18px; width: 20px;
    display:inline-block;
    line-height:18px;
    font-size:18px;
    vertical-align:middle;
    cursor:pointer;
    margin: 0 10px 0 0;
}
input[type=checkbox].checkbox1.partial + label.c-label {
    color: #1F7F5C;
}
input[type=checkbox].checkbox1.partial + label.c-label:after {
    content: "\f147";
}

input[type=checkbox].checkbox1:checked + label.c-label,
input[type=checkbox].checkbox2:checked + label.c-label {
    color: #1F7F5C;
}
input[type=checkbox].checkbox1:checked + label.c-label:after,
input[type=checkbox].checkbox2:checked + label.c-label:after {
    content: "\f046";
}

input[type=checkbox].checkbox1 + label.c-label:hover,
input[type=checkbox].checkbox2 + label.c-label:hover {
    color: white;
}
input[type=checkbox].checkbox1 + label.c-label:after,
input[type=checkbox].checkbox2 + label.c-label:after {
    content: "\f096";
}

/* for ie */
input[type=checkbox].checkbox1.checked + label.c-label,
input[type=checkbox].checkbox2.checked + label.c-label {
    color: #1F7F5C;
}
input[type=checkbox].checkbox1.checked + label.c-label:after,
input[type=checkbox].checkbox2.checked + label.c-label:after {
    content: "\f046";
}


.c-label{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.easiest_badge {
    float: right;
    color: #2F3238;
    background-color: lightgoldenrodyellow;
    padding: 0px 4px;
    border-radius: 2px;
    font-weight: 300;
    margin-left: 3px;
    margin-top: 10px;
}
.coin_badge {
    float: right;
    color: #2F3238;
    background-color: gold;
    padding: 0px 4px;
    border-radius: 2px;
    font-weight: 300;
    margin-top: 10px;
}
.drop_badge {
    float: right;
    color: white;
    background-color: green;
    padding: 0px 4px;
    border-radius: 2px;
    font-weight: 300;
    margin-top: 10px;
}
.stamina_badge {
    float: right;
    color: white;
    background-color: #0064cd;
    padding: 0px 4px;
    border-radius: 2px;
    font-weight: 300;
    margin-top: 10px;
}
.multi_badge {
    float: right;
    color: white;
    background-color: #DE5E60;
    padding: 3px 4px;
    border-radius: 1px;
    font-weight: 300;
    line-height: 1;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h3.spec {
    margin-bottom: 10px;
    line-height: 40px;
}
.table>tbody>tr>td {
    background-color:#16191E;
}
.table-striped>tbody>tr:nth-child(odd)>td {
    background-color:#16191E;
}
.table-striped>tbody>tr:nth-child(even)>td {
    background-color:#26292E;
}

/*for IE 8*/
.table-striped>tbody>tr>td.odd {
    background-color:#16191E;
}
.table-striped>tbody>tr>td.even {
    background-color:#26292E;
}
.accordion-inner p.sub-dungeon.odd {
    background-color: #26292E;
}


.table>tbody>tr>td {
    padding: 10px;
}
.table>thead>tr>th {
    padding-top:0;
    padding-bottom: 3px;
    line-height: 1.2;
}
/*
     * toggles
     */
#avg_exp, #lowest_exp {
    cursor: pointer;
}
#avg_exp.calc_active, #lowest_exp.calc_active, #coop_no.calc_active,#coop_yes.calc_active {
    color:white;
    cursor: default;
}
.toggle {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
}
.toggle:last-child {
    margin-bottom: 0;
}
.toggle input {
    position: absolute;
    left: -9999px;
}
.toggle i {
    content: '';
    position: relative;
    top: 4px;
    display: block;
    width: 42px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    background: #26292E;
    margin-left: 8px;
    margin-right: 8px;
    /*border-color: rgba(127, 130, 137, 0.5);*/
    border-color: white;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
.toggle input + i > #knob {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 4px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 5px;
    opacity: 1;
    background-color: white;
    transition: right 0.2s;
    -o-transition: right 0.2s;
    -ms-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
}
.toggle input.checked + i > #knob {
    content: '  ';
    right: 24px;
}
.s_avg {
    float: right;
    margin-left:10px;
}
.s_range {
    float: right;
    margin-left:20px;
}
.s_stamina {
    float: right;
    margin-left:20px;
    margin-right:15px;
}
ul {
    padding-left: 30px;;
}
.header h2 {
    margin-left: 30px;
    line-height: 58px;
    font-size: 28px;
    margin-bottom:0;
}
#mobile-nav.menu-nav {
    float: right;
    margin-right: 20px;
    display: block;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /*@media only screen and (min-width : 320px) and (max-width : 568px) {*/
    .header h2 {
        margin-left: 30px;
        line-height: 78px;
        font-size: 28px;
        margin-bottom:0;
    }
    #exp_div{
        border-right-width: 0;
        margin-bottom: 5px;

        width: 100%; padding-left:0; float: left; position: relative;
    }
    #stam_div {
        border-left-width: 0;

        width: 100%; padding-left:0; float: left; position: relative;
    }
    #u_exp {
        width:150px; height: 79px;
        font-size: 23px;
    }
    #u_stam {
        width:150px; height: 79px;
        font-size: 23px;
    }
    .menu-nav {
        background:url(img/menu-mobile3.png) 0 0 no-repeat;
        width: 32px;
        height: 32px;
        margin: 24px 0 0 0;
    }
    .menu-nav.open {
        background-position: 0 -32px;
    }
    .width640 {
        width: 620px;
    }
    .prompt-row input{
        padding: 25px 0;
    }
    .prompt-input {
        height: 84px;
        font-size: 30px;
    }
}
table#quicklook th {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 10px 7px;
}
table#quicklook tr td {
    text-align: center;
    padding: 2px 10px;
    font-weight: 300;
}
table#quicklook tr td:nth-of-type(1) {
    font-weight: 600;
    color: #DE5E60;
}
table#quicklook tr td:nth-of-type(2) {
    font-weight: 600;
    color: white;
}
table#quicklook tr td:nth-of-type(3) {
    padding: 2px 15px 2px 0;
    text-align: right;
}
table#quicklook tr td:nth-of-type(3) a{
    color: #ccc;
}
table#quicklook tr td:nth-of-type(3) a:hover{
    color: #DE5E60;
}
table#quicklook tr.even {
    background-color: black;
}
table#quicklook tr.odd {
    background-color: #26292E;
}
#quick_look_time{
    font-size: 12px;
    width: 100px;
    /*margin: 5px 15px 5px 0; */
    color: #ccc;
}
#refresh_ql {
    cursor: pointer;
    color: white;
}
#refresh_ql:hover {
    color: #DE5E60;
}

#num_results {
    width: 100%;
    margin: 25px 0 15px;
    padding-left: 15px;
    float: left;
}
.nav-tabs {
    border-color: rgba(127, 130, 137, 0.5);
}
#tab1 {
    margin-top: 10px;
}
#tab3 {
    margin-top: 20px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover,.nav-tabs>li>a:focus,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, #settings_header {
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 24px;
    padding: 10px 0;
    border: none;
}
.nav-tabs>li>a {
    color: #7F8289;
}
.multipletabs .nav-tabs>li.active, .multipletabs .nav-tabs>li.active:hover {
    border-bottom: 3px solid white;
}
h4 {
    font-size: 18px
}